<%= link_to image_tag("hamburger.jpg", alt:"", width:"100%") %>
<main class="container-fluid" style="margin-top:80px">
  <!-- <img src="/app/assets/images/hamburger.jpg" alt=""> -->
  <div class="row">
    <div class="col-12">

    </div>
  </div>
</main>