<div class="stats">
  <strong id="following" class="stat">
    <%= link_to user_check.following.count.to_s + " following", following_user_path(user_check), id: user_check.id %>
  </strong>
  <strong id="followers" class="stat ml-2">
    <%= link_to user_check.followers.count.to_s + " followers", followers_user_path(user_check), id: user_check.id %>
  </strong>
</div>