<%= form_tag("/chart", method: "get" ) do %>
  <div class="form-group">
          
    <div class="form-group col">
      <%= select_tag(:mywork_id, options_from_collection_for_select(@myworks, :id, :name)) %>
    </div>

    <div class="actions col">
      <%= submit_tag "Search", class: "btn btn-info" %>
    </div>
  </div>
<% end %>


<% if @chart %>
  <%= column_chart @chart %>
<% end %>
