<div class="container-fluid">
  <div class="d-flex justify-content-around row">
    <div class="p-2 align-self-start col-lg-4">
      <%= render 'shared/user_status' %>
      <%= render 'shared/new_schedule' %>
    </div>
    <div class="p-2 col-lg-7">
      <%= render partial: 'shared/record_card', collection: @records, as: :record %>
    </div>
  </div>
</div>