<%= month_calendar events: @records do |date, records| %>
  <%= date.day %>

  <% records.each do |record| %>
    <div>
      <%= link_to record.title, events_path(start_time: record.start_time), class: "btn btn-info" %> 
    </div>
  <% end %>
<% end %>