<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <%= month_calendar events: @records do |date, records| %>
        <%= date.day %>

        <% records.each do |record| %>
          <div>
            <%= link_to image_tag("workout.png", width: '18') + "Details", events_path(start_time: record.start_time), class: "text-muted text-center" %> 
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-lg-4">
      <%= render 'shared/new_schedule' %>
    </div>
  </div>
</div>