<div class="container-fluid p-3">
  <div class="d-flex justify-content-around row">
    <div class="p-2 align-self-start col-lg-4">
      <div class="card mx-3 p-3">
        <%= render partial: 'shared/user_status', locals: {user_check: current_user} %>
      </div>
    </div>  
    <div class="p-2 col-lg-7">
      <h3>User list</h3>
      <%= render partial: 'shared/user_card', locals: {user_check: current_user} %>
      <%= will_paginate @users, list_classes: %w(pagination justify-content-center) %>
    </div>
  </div>
</div>